{% load static%}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/Estilo.css'%}">
    <title>Detalhes Curso</title>
</head>
<body>
    <a href="{% url 'home'%}">Home</a>
       {{dados.titulo}}
       {{dados.descricao}}
        {{dados.data_inicio|date:'d/m/y'}}<br>
        {% if dados.foto%}
            <img src="{{dados.foto.url}} " alt="foto">
        {% endif %}


</body>
</html>